<h1>Listado de heroes</h1>
<hr>
<div class="row ">
<div class="col text-right">

  <button 
  class="btn btn-primary"
   routerLink="/Heroe/nuevo" >
  
    <i class="fa fa-plus">Agregar</i>
  </button>
</div>

</div>

<table *ngIf="!cargarndo" class="table mt-3 animated fadeIn faster" >
  <thead class="thead-dark" >
    <tr >
      <th scope="col">#</th>
      <th scope="col">Nombre</th>
      <th scope="col">Poder</th>
      <th scope="col">Vivo</th>
      <th scope="col">Tools</th>
    </tr>
  </thead>
  <tbody >
    <tr *ngFor="let heroe of heroes let i=index">
      <th scope="row">{{i + 1}}</th>
      <td>{{heroe.nombre}}</td>
      <td>{{heroe.poder}}</td>
      <td>
        <label *ngIf="heroe.vive" class="badge badge-success">vivo</label>
        <label *ngIf="!heroe.vive" class="badge badge-danger">Sin vida</label>
      </td>
      <td>
        <button class="btn btn-info mr-1">
        <i class="fa fa-pen"
        [routerLink]="['/Heroe', heroe.id]"></i>
      </button>
      <button 
      (click)="borraHeroe(heroe.id, i)"
      class="btn btn-danger mr-1"
       routerLinkActive="router-link-active" >
       <i class="fa fa-trash"></i>
        </button>
    </td>
         
    </tr>
    </tbody>
</table >

<div class="alert alert-info text-center mt-3 animated fadeIn faster" *ngIf="cargarndo">
  <h4 class="alert-heading">Cargando</h4>
  <p>
  <i class="fa fa-sync-alt fa-spin fa-2x"></i>
</p>
<p class="mb-0">
  Espere porfavor
</p>

</div>

<div class="alert alert-warning text-center mt-3 animated fadeIn faster" *ngIf="datos">
    <h4 class="alert-heading">No hay registros</h4>
    <p>
    <i class="fa fa-exclamation fa-2x"></i>
  </p>
  <p class="mb-0">
    Espere porfavor
  </p>
  
  </div>